.container {
    margin: auto;
    padding: 0 rem(15);
}

.custom {
    border: rem(2) solid #fff;
    padding: rem(8) rem(25);
    border-radius: rem(25);
    display: block;
    color: rgba($color: #000000, $alpha: 0.8);
}

.section-gap {
    padding: rem(90) 0;
}

.btn-details {
    padding: rem(11) rem(30);
    border: rem(2) solid #3ac4fa;
    font-weight: 400;
    font-size: rem(14);
    text-transform: uppercase;
    transition: .25s ease-in-out;

    &:hover {
        background: $primary;
        color: #fff;
    }
}

.datepicker td, .datepicker th {
    padding: rem(8);
    font-size: rem(15);

}


.section-title {
    
    h1 {
        color: #212121;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
    }
}

.navbar {
    a,
    a.navbar-brand {
        color: #000;
        padding: rem(8);
        transition: .25s ease-in-out;

    }
}

footer {
    background: #111;
    color: #7c7e83;

    h3 {
        margin-bottom: rem(50);
        color: #fff;
        text-transform: uppercase;
        font-weight: 400;
    }

    p {
        line-height: rem(30);
        font-size: rem(14);
    }


    h1 {
        font-size: rem(18);
        color: #c5c5c5;
        margin-bottom: rem(30);
        font-weight: 400;
    }
}

.copyright {
    padding: rem(25) 0;
    border-top: rem(1) solid #1d1d1d;
    background: #111;
    color: #7c7e83;
    font-size: rem(14);
}

.box {
    background: #fff;
    border-radius: rem(3);
    border: rem(1) solid rgba($color: #000, $alpha: 0.125);

    .box-header {
        height: rem(110);
        display: flex;
        align-items: center;
        justify-content: center;
        background: $primary;
        color: #fff;
        border-top-left-radius: rem(3);
        border-top-right-radius: rem(3);

        h2 {
            font-weight: 400;

        }
    }

    .box-body {
        padding: rem(30);
    }

    .box-footer {
        padding: rem(15) rem(30);
        background: rgba($color: #000, $alpha: 0.03);
        text-align: center;
        color: #878787;

        p {
            margin-bottom: 0;
        }
    }

    .btn {
        height: rem(55);
        color: #fff;
        font-weight: 300;
        letter-spacing: rem(2);
    }
}

.custom-toast {
    position: fixed;
    left: rem(50);
    bottom: rem(50);
    width: rem(350);
    color: #fff;
    background: #333;
    border-radius: rem(3);
    transform: translateY(150px);
    transition: transform .25s ease-in-out;
    z-index: 9999;
}

.custom-toast.show {
    transform: translateY(0);
}

.hide {
    display: none;
}

