#welcome {

    h5 {
        text-transform: uppercase;
        color: #9c9c9c;
        margin-bottom: rem(10);
        font-size: rem(14);
        font-weight: 300;
    }

    h1 {
        font-size: rem(37);
        font-weight: 400;
        margin-bottom: rem(25);
    }

    p {
        line-height: rem(30);
        font-size: rem(15);
        color: #5a5959;
        margin-bottom: rem(25);
    }

    
}